<div class="container py-4 main-content">
  <div class="address-container">
    <h2 class="fw-bold">Address</h2>
    <p>This address has transacted {{addressTxs.length}} times on the Studcoin Blockchain. It has received a total of
      {{totalReceived}} STUD and has sent a total of {{totalSent}} STUD. Current value of addrees: {{balance}} STUD.</p>
    <div class="row py-2">
      <div class="col-sm-4 qr-code" #qr>
        <qr-code [value]="paramId" [size]="220"></qr-code>
      </div>
      <div class="col-sm-8">
        <app-row [data]="rowData"></app-row>
      </div>
    </div>
    <div class="row">
      <ngx-charts-pie-chart
        [results]="saleData"
        [legend]="true"
        [legendTitle]="'Received/Spent'"
        [view]="[750,250]"
        [labels]="true">
      </ngx-charts-pie-chart>
    </div>
    <h2 class="fw-bold my-5">Transactions</h2>
    <app-transactions-list [data]="addressTxs.reverse()"></app-transactions-list>
  </div>
</div>
