<mat-toolbar color="primary">
  <a class="title" routerLink="/">
    <div class="logo">
      <img src="../assets/img/logo.svg" alt="logo">
      <span>Studchain</span>
    </div>
  </a>
  <div class="spacer"></div>
  <form class="search-form" autocomplete="off">
      <input placeholder="Search blocks, transactions, hash..." name="search" [(ngModel)]="search" (keyup)="handleKeyUp($event)">
  </form>
  <a mat-button routerLink="/">Explorer</a>
  <a mat-button (click)="onWalletClick()">Wallet</a>
  <!--  <a mat-button (click)="">Peers</a>-->
  <a mat-button routerLink="transfer" >Send Transaction</a>
</mat-toolbar>
