.transfer-container, .mine-container {
  margin: 1.5em 2em;
}

.mat-input-element:disabled {
  color: #597398;
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

input {
  color: white;
}

mat-progress-bar {
  display: inline-block;
  width: 10em;
  margin-left: 1em;
}
