@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font-family: 'Roboto', sans-serif;
}

html, body, app-root {
  height: 100vh;
  background: #233156;
}
